<h2>Recent Posts</h2> 

<ul>   
	{{#each Posts}}     
		{{#if strain.type === sativa}} 
			<h3>{{weed_type.type}} <br> {{strain.type}} <br> {{discription.type}} <br> {{date_created.type}}</h3>
			<img>{{image.type}}</img>
		{{/if}}
		{{#else if strain.type === indica}}
			<h3>{{weed_type.type}} <br> {{strain.type}} <br> {{discription.type}} <br> {{date_created.type}}</h3>
			<img>{{image.type}}</img>
		{{/if}}
		{{#else}}
			<h3>{{weed_type.type}} <br> {{strain.type}} <br> {{discription.type}} <br> {{date_created.type}}</h3>
			<img>{{image.type}}</img>
		{{/if}}
	{{/each}}
</ul> 
