<h2>Recent Posts</h2> 

<ul>   
	{{#each Posts}}     
		{{#if strain.type === sativa}} 
			<li>
	      		<p>Type: {{weed_type}}</p>
	      		<p>Strain: {{strain}}</p>
	      		<p>Description: {{description}}</p>
	      		<img src='/static/img/{{upl}}'>
	      		<hr>
  			</li>
		{{#else if strain.type === indica}}
			<li>
		     	<p>Type: {{weed_type}}</p>
		      	<p>Strain: {{strain}}</p>
		   		<p>Description: {{description}}</p>
		    	<img src='/static/img/{{upl}}'>
		      	<hr>
	  		</li>
		{{#else}}
			<li>
	      		<p>Type: {{weed_type}}</p>
	      		<p>Strain: {{strain}}</p>
	      		<p>Description: {{description}}</p>
	      		<img src='/static/img/{{upl}}'>
	      		<hr>
  			</li>
			<!-- <img>{{image.type}}</img> -->
		{{/if}}
	{{/each}}
</ul> 
