
<ul>
	{{#each Posts}}     
		{{#if textSearch === strain}} 
			<li>
	      		<p>Type: {{weed_type}}</p>
	      		<p>Strain: {{strain}}</p>
	      		<p>Description: {{description}}</p>
	      		<img src='/static/img/{{upl}}'>
	      		<hr>
  			</li>
			<img src='/static/img/{{upl}}'>
		{{else}}
			<h3>Sorry, but no one is offering the strain you are looking for.</h3>
		{{/if}}
	{{/each}}
</ul>